@define-color foreground #FDF9F7;
@define-color background #150A05;
@define-color primary #D8C255;
@define-color primary-alt #685b18;
@define-color secondary #081921;
@define-color blurbg rgba(8, 25, 33, 0.4);
@define-color accent #2D47C8;
@define-color red #A35229;

* {
    border-radius: 0;
    font-family: 'JetBrainsMonoNerdFont';
    font-size: 14pt;
    min-height: 0px;
    box-shadow: none;
    border: none;
    border-radius: 5px;
}

window#waybar {
    /* 
	padding-top: 10px;
    */
    background: transparent;

    border-radius: 0px;
    background: @blurbg;
    border: 2px solid @primary;
}

tooltip {
    background: @background;
    border: 2px solid @primary;
    color: @foreground;
    border-radius: 5px;
}

.modules-left,
.modules-center,
.modules-right {
    /* padding: 0px; */
    /* padding: 5px 10px 0px 10px; */
    /* padding-left: 10px;
    padding-right: 10px; */
    /* padding-bottom: 0px; */
    padding: 1px;
}

.modules-left>*>* {
    margin-left: 10px;
}

.modules-center>*>* {
    margin-left: 5px;
    margin-right: 5px;
}

.modules-right>*>* {
    margin-right: 10px;
}

/* Modules */
#clock,
#battery,
#pulseaudio,
#workspaces,
#mpd,
#memory,
#network,
#language,
#bluetooth,
#custom-fuck,
#window,
#custom-notification,
#custom-power,
#tray {
    color: @foreground;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 2px;
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
    /* margin-right: 5px; */

    /* background: #52263F; */
    /* Borders */
    /* opacity: 0.6; */
}

#battery.critical,
#battery.warning {
    color: @red;
}

#window {
    color: @foreground;
}

#language span {
    color: @primary;
}

#bluetooth.on,
#bluetooth.connected {
    color: @primary;
}

#bluetooth.off {
    color: @foreground;
}

#workspaces {}

#workspaces button {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 0px;
    border-color: transparent;
    color: @primary-alt;
    margin-right: 2px;
}

/* #workspaces button.persistent, */
#workspaces button.empty {
    color: @foreground;
}

#workspaces button.active,
#workspaces button.focused {
    background: transparent;
    color: @primary;
}

#workspaces button:hover {
    background: transparent;
    color: @primary-alt;
}

#tray {
    color: @foreground;
}

#tray menu {
    background: @blurbg;
    border: 2px solid @primary;
    border-radius: 5px;
    color: @foreground;
}
